<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.sarwan.renkar">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:name="com.example.sarwan.renkar.modules.base.VApplication"
            tools:ignore="GoogleAppIndexingWarning"
            android:largeHeap="true"
            android:theme="@style/AppTheme">
        <activity
            android:name=".modules.splash.SplashActivity"
            android:theme="@style/renkarTheme"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        
        <activity
                android:name=".modules.authentication.LoginActivity"
                android:theme="@style/renkarTheme"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="userPortrait"
        />
    
        <activity
                android:name=".modules.welcome.WelcomeActivity"
                android:theme="@style/renkarTheme"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="userPortrait"
        />
        
        <activity
                android:name=".modules.authentication.ListerSignup"
                android:theme="@style/renkarTheme"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="userPortrait"
        />
    
        <activity
                android:name=".modules.authentication.RenterSignup"
                android:theme="@style/renkarTheme"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="userPortrait"
        />
    
        <activity
                android:name=".modules.lister.ListerActivity"
                android:theme="@style/renkarTheme"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="userPortrait"
        />
        
        <activity
            android:name=".modules.renter.RenterActivity"
            android:theme="@style/renkarTheme"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="userPortrait"/>
    
        <activity
                android:name=".modules.lister.add.ListerAddCarActivity"
                android:theme="@style/renkarTheme"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="userPortrait"/>
        
        <meta-data android:name="com.here.android.maps.appid"
                   android:value="FqGVJ21W8L500333LtfX"/>
        
        <meta-data android:name="com.here.android.maps.apptoken"
                   android:value="cjal5HUbu1_N97oyWocJ1g"/>
        
        <meta-data
                android:name="access_token"
                android:value="pk.eyJ1IjoiYmE2YmEiLCJhIjoiY2pyb293OWtiMTM0dzQ5bXNzY3k2OXdldyJ9.SHjjucqDgGUkogES2nPXLg"
        />
    </application>
</manifest>